.fp-wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}

.fp-sidebar {
  min-width: 10.745em;
}

.fp-main-panel {
  width: 100%;
}

.fp-footer {
  line-height: 5em;
  padding-top: 1em;
  overflow: hidden;
  flex-wrap: nowrap;
}

.sb-title {

}

.sb-logo {

  
}
/*.sb-nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sb-nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}*/
