.fp-wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}

.fp-sidebar {
  min-width: 10.745em;
}

.fp-main-panel {
  width: 100%;
}

.fp-footer {
  line-height: 5em;
  padding-top: 1em;
  overflow: hidden;
  flex-wrap: nowrap;
}
